@{
    ViewData[""] = "Get To Know Joel";
}

@* get to know Joel, has some links and a pic that is also a link *@

<h1>Get To Know Joel</h1>

<a href="https://www.qwcomedy.com/">Click here to visit qwcomedy.com</a>
<br />
<a href="https://baconsale.com/">Click here to visit baconsale.com</a>
<br />
<a href="https://baconsale.com/" style="display: block; margin: 0 auto; text-align: center;">
    <img src="~/img/baconsalekate.jpg" alt="Bacon Sale Image" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
</a>


